[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Analyse et Conception Objet
Type=Link
URL=http://touchardinforeseau.servehttp.com/UML/
Icon=mate-fs-bookmark
